<div class="btn-group" dropdown #dropdown="bs-dropdown">
  <a href="javascript:;" dropdownToggle><span  ><i class="fa fa-pencil"></i></span></a>
  
  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown25010"
      role="menu" aria-labelledby="button-basic">
    <li role="menuitem"><a class="dropdown-item" (click)="deleteCardSubmit()" href="javascript:;">Delete</a></li>
   
    <li class="divider dropdown-divider"></li>
    <form #cardNameForm="ngForm">
    <li role="menuitem"><div class="form-group" (click)="$event.stopPropagation()">
					<input appAutoFocus #cardName required [value]="cardData.cardName" class="form-control" type="text" name="cardname" placeholder="Card Name">
					
				</div></li>
    <li role="menuitem"><button class="violethover-btn" type="submit" (click)="dropdown.isOpen = !dropdown.isOpen;renameCardSubmit(cardName.value,cardNameForm)">Save</button></li>
       </form>
  </ul>
</div>