.home-container{
    padding: 30px;
}
.card {
    background: #ffffff none repeat scroll 0 0;
    /*margin: 15px 0;*/
    padding: 0px;
    border: 0 solid #e7e7e7;
    border-radius: 5px;
    /*box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);*/
}
.card.violet-grad{
 box-shadow: 0 5px 15px 0px rgba(189, 89, 212, 0.5);
    -moz-box-shadow: 0 5px 15px 0px rgba(189, 89, 212, 0.5);
    -webkit-box-shadow: 0 5px 15px 0px rgba(189, 89, 212, 0.5);
    -o-box-shadow: 0 5px 15px 0px rgba(189, 89, 212, 0.5);
    -ms-box-shadow: 0 5px 15px 0px rgba(189, 89, 212, 0.5);
}
.card-img {
   border-radius: 5px 5px 0 0;
    padding: 20px;
   
}
.card-body {
   
    padding: 20px;
   
}
.violet-grad .card-img{
    background-color: #f8ceec;
background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
color:#fff;

}