<app-header-home></app-header-home>
<div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row home-container">
                    <div class="col-md-3">
                        <div class="card ">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-usd f-s-40 color-primary"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>568120</h2>
                                    <p class="m-b-0">Total Revenue</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
<div class="add-item">
  
                      <button class="violet-btn"><span>+</span> Add Item</button>
                    </div>
                    </div>
</div>
                    </div>
