<app-home-header></app-home-header>
<div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row home-container">
                    <div class="col-md-3" *ngFor="let item of taskData">
                      <a [routerLink]="['/task', item.id]" href="javascript:;">
                        <div class="card violet-grad">
                            <div class="card-img ">
                            <img width="100%" src="assets/images/superwoman.png">
                        </div>
                        <div class="card-body">
                             <h5>{{item.taskName}}</h5>
                                   
                        </div>
                        
                        </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                       <div class="btn-group btn-group-full" dropdown>
 <button dropdownToggle class="violet-btn full" ><span>+</span> Add Item</button>
  <ul  *dropdownMenu class="dropdown-menu" role="menu" >
       <form #taskForm="ngForm">
    <li role="menuitem">
      <div class="form-group" (click)="$event.stopPropagation()">
					<input appAutoFocus #taskItem="ngModel" required class="form-control" [(ngModel)]="addTaskData.name" type="text" required name="taskName" placeholder="Task Name">
					
				</div>
    </li>
    <li role="menuitem"><button class="violethover-btn" (click)="addTask(taskForm)" type="submit">Save</button></li>
       </form>
  </ul>
</div>
<!--<div class="add-item">
  
                      <button class="violet-btn full" (click)="openModal(template)"><span>+</span> Add Task</button>
                    </div>-->
                    </div>
</div>
                    </div>
