<app-home-header></app-home-header>
<div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row home-container">
                    <div class="col-md-3" *ngFor="let item of taskData">
                      <a [routerLink]="['/task', item.id]" href="javascript:;">
                        <div class="card violet-grad">
                            <div class="card-img ">
                            
                        </div>
                        <div class="card-body">
                             <h4>{{item.taskName}}</h4>
                                   
                        </div>
                        
                        </div>
                        </a>
                    </div>
                    <div class="col-md-2">
<div class="add-item">
  
                      <button class="violet-btn" (click)="openModal(template)"><span>+</span> Add Item</button>
                    </div>
                    </div>
</div>
                    </div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #taskForm="ngForm">
  <div class="modal-body">
   <input [(ngModel)]="addTaskData.name" type="text" required name="taskName"><button (click)="addTask(taskForm)" type="submit"  class="btn">Save</button>
  </div>
  </form>
</ng-template>