/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
body {
    background: #f7f7f7;
    margin: 0;
    overflow-x: hidden;
    color: #67757c;
}
body, html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
img {
    border: 0;
}
button {
    outline: none !important;
    border: none;
    background: transparent;
    cursor: pointer
}
img {
    vertical-align: middle;
    border-style: none;
}
.page-wrapper {
    background: #fafafa;
    padding-bottom: 60px;
}

.violet-btn {
  display:inline-block;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
   background-color: #f977ce;
background-image: linear-gradient(315deg, #f977ce 0%, #c373f2 74%);
    border-radius: 7px;
   margin-bottom: 20px;
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    box-shadow: 0 5px 15px 0px rgba(189, 89, 212, 0.5);
    -moz-box-shadow: 0 5px 15px 0px rgba(189, 89, 212, 0.5);
    -webkit-box-shadow: 0 5px 15px 0px rgba(189, 89, 212, 0.5);
    -o-box-shadow: 0 5px 15px 0px rgba(189, 89, 212, 0.5);
    -ms-box-shadow: 0 5px 15px 0px rgba(189, 89, 212, 0.5);
}
.violet-btn.full{
     width:100%;
    display: block;
}
.violethover-btn {
   width:100%;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 7px 10px;
    min-width: 160px;
   background-color:transparent;
    border-radius: 7px;
    border: 1px solid #c373f2;
    font-size: 14px;
    color:#c373f2;
    line-height: 1.2;
    text-transform: uppercase;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
   
}
.violethover-btn:hover{
    color:#fff;
    background-color:#c373f2;
}
a {
	
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}
.home-container{
    padding: 30px;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: rgba(189, 89, 212, 1);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(189, 89, 212, 0.1);
}
.card {
    background: #ffffff none repeat scroll 0 0;
    
    padding: 0px;
    border: 0 solid #e7e7e7;
    border-radius: 5px;

}
.card .card-inline{
    display: inline-block;
    margin-bottom: 5px;
}
.card.violet-grad{
 box-shadow: 0 5px 15px 0px rgba(189, 89, 212, 0.5);
    -moz-box-shadow: 0 5px 15px 0px rgba(189, 89, 212, 0.5);
    -webkit-box-shadow: 0 5px 15px 0px rgba(189, 89, 212, 0.5);
    -o-box-shadow: 0 5px 15px 0px rgba(189, 89, 212, 0.5);
    -ms-box-shadow: 0 5px 15px 0px rgba(189, 89, 212, 0.5);
}
.card.white{
margin-bottom: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    padding: 20px;
}
.card-img {
   border-radius: 5px 5px 0 0;
    /*padding: 20px;*/
   overflow: hidden;
}
.dropdown-menu{
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
}
.card-body {
   
    padding: 20px;
   
}
.violet-grad .card-img{
    background-color: #f8ceec;
background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
color:#fff;

}
.ul-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.task-item > li{
display:block;
background:#e2e2e2;
margin-bottom: 10px;
padding:5px 7px;
border-radius: 5px;
color:#333;
position: relative;
}
.task-item > li>a{
    display:block;
width:100%;
}
.absolute-rrt1{
    position: absolute;
    top:3px;
    
    right:7px;
}
.btn-group-full{
    width: 100%;
}
.btn-group-full .dropdown-menu{
    padding:10px;
    min-width: 298px;
    margin-top: -10px;
}
.add-button{
    color: #c373f2;
}
.add-button:hover{
    color: #c373f2;
}
.add-button i{
    vertical-align: middle;
    margin-right: 5px;
    font-size: 22px;
    color: #c373f2;
}
.dropdown25010{
    min-width: 250px;
    padding: 15px;
}
div.scroll-list {
      overflow: auto;
      max-height: 70vh;
    }

    .drag-over {
      border: #ff525b dashed 2px;
    }

    .drag-hint {
      border: #ffc100 dashed 2px;
    }

    .drag-target-border {
      border: #00bfff dashed 2px;
    }

    .drag-target-border-green {
      border: #3c763d dashed 2px;
    }